@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --main-color: yellow;
    --second-color: #25e3ba;
    --third-color: #1b1b24;
    --text-color: #ebeded;
    --netral-color: black;
}

body {
    background: rgb(12, 12, 12);
    color: #ebeded;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background: black;
    opacity: .9;
}

.logo {
    font-size: 30px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 800;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.logo span {
    color: var(--main-color);
    text-shadow: 0 0 25px var(--main-color);
}

.navbar a {
    font-size: 17px;
    color: var(--text-color);
    margin-left: 60px;
    text-decoration: none;
    font-weight: 800;
    transition: .3s;
    border-bottom: 3px solid transparent;
}

.navbar a:hover{
    color: var(--second-color);
} 

.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color); 
}

.home {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 660px;
}

.home-content h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.2;
    color: var(--second-color);
}

.home-content h3 {
    font-size: 35px;
    font-weight: 800;
}

.home-content h3 span {
    margin-left: 17px;
    font-size: 17px;
    font-weight:700;
    color: var(--main-color);
}

.home-content p {
    font-size: 17px;
    font-weight: 500;
    margin: 30px 0 60px;
    word-spacing: 1px;
    text-align: justify;
}

.profile img {
    width: 450px;
    height: 450px;
    border: 8px var(--third-color) solid;
    border-radius: 50%;
    margin-right: 70px;
    box-shadow: 0px 0 90px #393E46;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.profile img:hover {
    box-shadow: 0 0 120px #393E46;
    transform: scale(1.1);
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 45px;
}

.home-content .btn-box a {
    position: relative; 
    display: inline-flex; 
    justify-content: center;
    align-items: center; 
    width: 130px;
    height: 100%;
    background: var(--netral-color);
    border: 2px solid var(--main-color);
    border-radius: 20px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: var(--netral-color);
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 600px;
    width: 220px;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px var(--second-color) solid;
    box-shadow: 0 0 20px var(--second-color);
    border-radius: 50%;
    font-size: 23px;
    color: var(--second-color);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    transform: scale(1.2);
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-color);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%
}

.footer{
    background: black;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.footer a {
    text-decoration: none;
    color: #ebeded;

}

.about {
    padding: 20px 10%; 
    max-width: 100%;
}



/* About Section */

.heading {
    font-size: 45px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about h3 {
    font-size: 25px;
    font-weight: 650;
    margin: 5px 0 40px; 
    display: flex;
    justify-content: center;
}

.about h3 span {
    margin-left: 10px;
    color: var(--second-color);
    text-shadow: 0 0 10px var(--second-color);
}

.about-content {
    width: 100%;
}

.about-content p {
    font-size: 15px;
    word-spacing: 1.2px;
    margin-bottom: 70px;
    background: var(--third-color);
    border-radius: 10px;
    box-shadow: 0 0 80px var(--third-color);
    text-align: justify;
    padding: 20px;
    height: 140px;
    max-width: 60%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: box-shadow .4s ease-in-out, transform .4s ease-in-out;
    z-index: 1;
}

.about-content p::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.about-content p:hover {
    color: black;
    transform: scale(0.9);
}

.about-content p:hover::before {
    width: 100%;
}


.about-content p:nth-of-type(2) {
    margin-left: 40%;
}

.about-content .btn-box {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

.about-content .btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 100%;
    background: transparent;
    border: 2px solid var(--second-color);
    box-shadow: 0 0 20px var(--second-color);
    border-radius: 20px;
    color: var(--second-color);
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.about-content .btn-box a:hover {
    color: var(--netral-color);
}

.about-content .btn-box i {
    margin-left: 10px;
    color: var(--second-color);
}



/*Skills section */
.skills h3 {
    font-size: 25px;
    font-weight: 650;
    margin: 5px 0 50px;
    display: flex;
    justify-content: center;
}

.skills h3 span {
    margin-left: 10px;
    color: var(--second-color);
    text-shadow: 0 0 10px var(--second-color);
}

.skills-content p {
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-bottom: 20px;
}

.skills-content .container {
    display: flex;
    justify-content: center;
    height:40px;
    margin-bottom: 250px;
}

.skills-content .program-icon {
    margin-bottom: 200px;
    width: 800px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-content .program-icon a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--netral-color);
    box-shadow: 0 0 15px var(--second-color);
    font-size: 23px;
    border: 2px var(--second-color) solid;
    color: var(--text-color);
    transition: box-shadow ease-in-out, transform .4s ease-in-out;
    z-index: 1;
    overflow: hidden;
}

.skills-content .program-icon a:hover {
    color: var(--netral-color);
    box-shadow: 0 0 40px var(--second-color);
    transform: scale(1.2);
}

.skills-content .program-icon a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    background: var(--second-color);
}

.skills-content .program-icon a:hover::before {
    width: 100%;
}