@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --main-color: #34ebdc;
    --second-color: #1ce7c5;
    --third-color: #202c2f;
    --netral-color1: #ebeded;
    --netral-color2: black;
}

body {
    background: black;
    color: #ebeded;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background: rgb(4, 4, 4);
    z-index: 1000;
}

.logo {
    font-size: 30px;
    font-weight: 800;
    color: var(--netral-color1);
    text-decoration: none;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.logo span {
    color: var(--main-color);
    text-shadow: 0 0 25px var(--main-color);
}

.navbar {
    border-bottom: 3px var(--second-color) solid;
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

}

.navbar a {
    font-size: 17px;
    color: var(--netral-color1);
    text-decoration: none;
    font-weight: 800;
    transition: .3s;
    z-index: 1;
    position: relative;
    margin: 0 20px 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.navbar a:hover {
    color: var(--netral-color2);
} 

.navbar a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: var(--main-color);
    transition: .2s ease-in-out;
}

.navbar a:hover::before {
    height: 100%;
}

.navbar a.active {
    color: var(--netral-color2);
    background: var(--main-color);
}

.navbar a.active:hover {
    color: var(--netral-color2);
}

.menu-icon {
    display: none;
    font-size: 30px;
    color: var(--netral-color1);
    cursor: pointer;
}



/*Media for Header*/
@media (max-width: 1500px) {
    .logo {
        padding: 0 5%;
    }

    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 10%;
        width: 13%;
        z-index: 1000;
        border: none;
        border-radius: 20px;
        background: var(--third-color);
        height: 250px;
        opacity: .9;
    }

    .navbar a {
        font-size: 13px;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .menu-icon {
        display: block;
    }

    .navbar.active {
        display: flex;
    }
}


@media (max-width: 768px) {
    .logo {
        padding: 0 5%;
        font-size: 25px;
    }

    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 10%;
        width: 15%;
        height: 100%;
        z-index: 1000;
        border-radius: 20px;
        background: var(--third-color);
        height: 250px;
        border: none;
        opacity: .9;
    }

    .navbar a {
        font-size: 11px;
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .menu-icon {
        display: block;
    }

    .navbar.active {
        display: flex;
    }
}



/*Home Section*/
.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    flex-wrap: wrap;
}

.home-content {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;;
   width: 100%;
}

.home-content .personal-info {
    max-width: 660px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home-content .introduction {
    margin-bottom: 60px;
}

.home-content .button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width:660px;
}

.home-content h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.2;
    color: var(--second-color);
}

.home-content h3 {
    font-size: 35px;
    font-weight: 800;
}

.home-content h3 span {
    margin-left: 17px;
    font-size: 17px;
    font-weight:700;
    color: var(--main-color);
}

.home-content p {
    font-size: 17px;
    font-weight: 500;
    margin-top: 30px;
    word-spacing: 1px;
    text-align: justify;
}

.profile img {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    margin-right: 70px;
    box-shadow: 0px 0 90px var(--third-color);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.profile img:hover {
    box-shadow: 0 0 120px #393E46;
    transform: scale(1.1);
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 45px;
}

.home-content .btn-box a {
    position: relative; 
    display: inline-flex; 
    justify-content: center;
    align-items: center; 
    width: 130px;
    height: 100%;
    background: var(--netral-color2);
    border: 2px solid var(--main-color);
    border-radius: 7px;
    color: var(--netral-color1);
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: var(--netral-color2);
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    display: flex;
    justify-content: space-between;
    width: 220px;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: var(--netral-color2);
    border: 2px var(--main-color) solid;
    box-shadow: 0 0 20px var(--main-color);
    border-radius: 15%;
    font-size: 23px;
    color: var(--main-color);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    transform: scale(1.2);
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background: var(--second-color);
    z-index: -1;
}

.home-sci a:hover::before{
    width: 100%
}




/*Media for Home Section*/
@media (max-width: 1500px) {
    .home {
        padding: 20% 5%;
        height: 100%;
        margin-bottom: 70px;
    }

    .home-content .button {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .home-content .personal-info,
    .home-content .button,
    .home-content .profile {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    .home-content .profile {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .home-content .profile img {
        width: 50%;
        height: 50%;
        max-width: 300px;
        margin: 0;
    }

    .home-content .button {
        display: flex;
        margin-top: 10px;
        padding: 0 10%;
        width: 100%;
        height: 100px;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .home-content .btn-box {
        width: 50%;
        display: inline-flex;
        justify-content: space-between;
    }

    .home-content .btn-box a {
        width: 40%;
        font-size: 15px;
    }

    .home-content .home-sci {
        display: flex;
        justify-content: space-between;
        width: 30%;
        height: 40%;
    }

    .home-content .home-sci a {
        font-size: 25px;
        height: 100%;
        width: 25%;
        border: none;
        box-shadow: none;
    }

    .home-content .introduction {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align : left;
        margin-bottom: 10px;
    }

    .home-content .introduction h1,
    .home-content .introduction h3,
    .home-content .introduction p {
        width: 100%;
        padding: 0 10%;
        text-align: justify;
    }
}

.footer{
    background: black;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.footer a {
    text-decoration: none;
    color: #ebeded;

}


/* About Section */
.about {
    padding: 20px 10%; 
    max-width: 100%;
    margin-bottom: 300px;
}

.heading {
    font-size: 45px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about h3 {
    font-size: 25px;
    font-weight: 650;
    margin-bottom: 40px; 
    display: flex;
    justify-content: center;
}

.about h3 span {
    margin-left: 10px;
    color: var(--second-color);
    text-shadow: 0 0 10px var(--second-color);
}

.about-content {
    width: 100%;
}

.about-content p {
    font-size: 15px;
    word-spacing: 1.2px;
    margin-bottom: 70px;
    background: var(--third-color);
    border-radius: 10px;
    box-shadow: 0 0 80px var(--third-color);
    text-align: justify;
    padding: 20px;
    height: 140px;
    Width: 60%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: box-shadow .4s ease-in-out, transform .4s ease-in-out;
    z-index: 1;
}

.about-content p::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.about-content p:hover {
    color: black;
    transform: scale(0.9);
}

.about-content p:hover::before {
    width: 100%;
}


.about-content p:nth-of-type(2) {
    margin-left: 40%;
}

.about-content .btn-box {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.about-content .btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 100%;
    background: transparent;
    border: 2px solid var(--second-color);
    box-shadow: 0 0 20px var(--second-color);
    border-radius: 20px;
    color: var(--netral-color1);
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.about-content .btn-box a:hover {
    color: var(--netral-color2);
}

.about-content .btn-box i {
    margin-left: 10px;
    color: var(--netral-color1);
}


/*Media For About Section*/
@media (max-width: 768px) {
    .about {
        margin: 100px 0 250px 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
        align-items: center;
    }

    .about-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .about-content p {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }
}




/*Skills section */
.skills {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 300px;
}

.skills h3 {
    font-size: 25px;
    font-weight: 650;
    margin: 5px 0 50px;
    display: flex;
    justify-content: center;
}

.skills h3 span {
    margin-left: 10px;
    color: var(--second-color);
    text-shadow: 0 0 10px var(--second-color);
}

.skills-content p {
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-bottom: 20px;
}

.skills-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
}

.skills-content .program-icon {
    width: 900px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-content .program-icon a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 30%;
    background: var(--netral-color2);
    box-shadow: 0 0 15px var(--main-color);
    font-size: 23px;
    border: 2px var(--main-color) solid;
    color: var(--main-color);
    transition: box-shadow ease-in-out, transform .4s ease-in-out;
    z-index: 1;
    overflow: hidden;
}

.skills-content .program-icon a:hover {
    color: var(--netral-color2);
    box-shadow: 0 0 40px var(--second-color);
    transform: scale(1.2);
}

.skills-content .program-icon a::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0;
    z-index: -1;
    background: var(--second-color);
}

.skills-content .program-icon a:hover::before {
    width: 100%;
}



/*Media for Skills Section*/
@media (max-width: 1500px) {
    .skills {
        margin-bottom: 260px;
        padding: 0 10%;
    }

    .skills-content .program-icon {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100px;
        align-items: center;
    }

    .skills-content .program-icon a {
        margin: 10px 15px 10px 15px;
        font-size: 21px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

    .skills-content p {
        text-align: center;
    }
}




/*Experiences Section*/
.experiences-content h3 {
    font-size: 25px;
    font-weight: 650;
    margin: 5px 0 50px;
    display: flex;
    justify-content: center;
}

.experiences-content h3 span {
    margin-left: 10px;
    color: var(--second-color);
    text-shadow: 0 0 10px var(--second-color);
}

.experiences-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.experiences-content .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 300px;
}

.experiences-content h4 {
    font-size: 20px;
    font-weight: 600;
}

.experiences-content .grid h4 span {
    font-weight: 400;
}

.experiences-content p {
    font-size: 15px;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 10px;
}

.experiences-content ul {
    width: 60%;
    background: var(--third-color);
    border-radius: 10px;
    padding: 5px 40px;
    height: 230px;
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.experiences-content li {
    margin: 10px 0 10px 0;
    font-size: 15px;
    text-align: justify;
}

.company img {
    width: 450px;
    height: 450px;
    margin-top: 50px;
    margin-bottom: 80px;
    border-radius: 10%;
    box-shadow: 0px 0 90px #393E46;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.company img:hover {
    box-shadow: 0 0 120px #393E46;
    transform: scale(0.9);
}



/*Media For Experiences Section*/
@media (max-width: 1500px) {
    .experiences {
        margin-bottom: 260px;
        padding: 0 10%;
    }

    .experiences .heading h2 {
        font-size: 60px;
    }

    .experiences-content h3 {
        font-size: 22px;
        margin: 10px 0 30px;
    }
    
    .experiences-content h4 {
        font-size: 18px;
        text-align: center;
    }
    
    .experiences-content p {
        text-align: center;
        font-size: 14px;
    }
    
    .experiences-content ul {
        width: 100%;
        padding: 10px 20px;
        height: 100%;
        margin-bottom: 20px;
    }
    
    .experiences-content li {
        font-size: 14px;
        margin: 15px 15px;
    }
    
    .company img {
        width: 100%;
        height: 100%;
        margin-top: 20px;
        margin-bottom: 70px;
        border-radius: 10%;
        box-shadow: 0px 0 60px #393E46;
    }
}






/*Education Section*/
.education-content h3 {
    font-size: 25px;
    font-weight: 650;
    margin: 5px 0 50px;
    display: flex;
    justify-content: center;
}

.education-content h3 span {
    margin-left: 10px;
    color: var(--second-color);
    text-shadow: 0 0 10px var(--second-color);
}

.education-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.education-content h3 {
    font-size: 25px;
    font-weight: 650;
    margin: 5px 0 50px;
    display: flex;
    justify-content: center;
}

.education-content h3 span {
    margin-left: 10px;
    color: var(--second-color);
    text-shadow: 0 0 10px var(--second-color);
}

.education-content .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 kolom */
    gap: 50px;
    /* Jarak antar item */
    width: 60%;
    padding: 40px;
    margin-bottom:100px;
}

.education-item {
    padding: 20px;
    border-radius: 20px;
    border: 2px black solid;
    box-shadow: 0 0 30px var(--third-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    overflow: hidden;
    position: relative;
    transition: transform .4s ease-in-out;
}

.education-item h4 {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0;
    color: var(--main-color);
}

.education-item h5 {
    font-size: 16px;
    font-weight: 500;
    margin: 5px 0;
}

.education-item p {
    font-size: 14px;
    font-style: italic;
}

.education-item:hover {
    box-shadow: 0 0 20px var(--main-color);
    transform: scale(0.9);
}


/*Media for Education Sections*/
@media (max-width: 1500px) {
    .education-content .grid {
        width: 80%;
        gap: 30px;
    }

    .education-item {
        text-align: center;
    }

    .education-item h4 {
        font-size: 16px;
        margin-top: 0;
    }

    .education-item h5 {
        font-size: 14px;
    }

    .education-item p {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .education-content{
        padding: 0 10%;
    }

    .education-content .grid {
        grid-template-columns: 1fr;
        width: 100%;
        padding: 5px;
        gap: 40px;
    }

    .education-item {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px var(--third-color);
        text-align: center;
    }

    .education-item h4 {
        font-size: 20px;
        margin-top: 0;
    }

    .education-item h5 {
        font-size: 15px;
    }

    .education-item p {
        font-size: 10px;
    }
}